<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script type="text/javascript"  src="MatchPasswords.js"></script>
</head>
<div>
    <h2>Reset Your Password</h2>
</div>

<p1 th:text="${PasswordsMatch}"></p1>

<form th:action="@{/prefy/v1/Login/UpdatePassword}" method="post" style="max-width: 350px; margin: 0 auto;">
    <input type="hidden" name="token" th:value="${token}" />
    <div class="border border-secondary rounded p-3">
        <div>
            <p>
                <input type="password" name="password" id="password" class="form-control"
                       placeholder="Enter your new password" required autofocus/>
            </p>
            <p>
                <input type="confirmpassword" name="confirmpassword" id="confirmpassword" class="form-control" placeholder="Confirm your new password"/>
            </p>
            <p class="text-center">
                <input type="submit" value="Change Password" class="btn btn-primary"/>
            </p>
        </div>
    </div>
</form>
</html>
